---
export async function getStaticPaths() {
  return [
    { params: { slug: 'post-1' } },
    { params: { slug: 'post-2' } }
  ];
}
const { slug } = Astro.params

const blogPosts = {
    "post-1" :{
    title: "Post One",
    content: "This is the content of Post One"
    },
    "post-2" :{
    title: "Post two",
    content: "This is the content of Post two"
    }
};

const post = blogPosts[slug]

---

  {post ? (
    <article>
           <h1>{post.title}</h1>
           <p>{post.content}</p>
    </article>
    ) : (
           <h1>post not found</h1>
)}