---
import Blog from "../pages/Blog.astro";
import Documentation from "../pages/Documentation.astro";
import Faq from "../pages/Faq.astro";
import Themes from "../pages/Themes.astro";
import Getallaccess from "../pages/Getallaccess.astro";

---

<html>
  <head>
    <title>header astro</title>
  </head>
  <body>
    <h1 class="head text-xl font-medium text-black dark:text-white">
      Introducing Zenith, the newest stand-out finance and SaaS template
    </h1>

    <div class="slidar flex items-start space-x-6">
      <div class="vertical-heading flex flex-col leading-none">
        <a href="/">
          <span class="font-bold text-xl">Cosmic </span>
        </a>
        <span class="font-normal text-sm">Themes</span>
      </div>

      <div>
        <span class="flex justify-end items-center space-x-4 text-sm li">
          <a href="/Themes" class="hover:underline text-gray-700">Themes</a>
          <a href="https://cosmicthemes.com/blog/" class="hover:underline text-gray-700">Blog</a>
          <a href="https://cosmicthemes.com/docs/getting-started/" class="hover:underline text-gray-700"
            >Documentation</a
          >
          <a href="https://cosmicthemes.com/all-access/#faq" class="hover:underline text-gray-700">FAQ</a>
          <a href="https://cosmicthemes.com/all-access/">
            <button
              class="bg-sky-500 text-white px-6 py-3 rounded-full hover:bg-blue-700 text-sm flex items-center justify-center whitespace-nowrap"
            >
              Get All Access
            </button></a>
        </span>
      </div>

      <!-- content and button -->
      <!-- <div
        class="flex flex-col items-center text-center max-w-3xl mx-auto space-y-4 container"
      >
        <p class="first-p">Trusted by hundreds of developers</p>
        <p class="text-4xl font-extrabold text-black dark:text-white">
          Production-ready website templates to make your life easy
        </p>
        <p class="text-xl text-gray-800 third-p">
          Premium Astro templates crafted with tons of features that other
          themes leave out, saving you weeks of development time. I18n
          capabilities, CMS interface, animations, SEO, and more.
        </p>
      </div>

      <div class="flex justify-center space-x-4 btn">
        <button
          class="bg-sky-500 w-40 text-center text-white px-6 py-2 rounded-full text-sm hover:bg-blue-700
          transition duration-200"
        >
          Save All Access
        </button>
        <button
          class="bg-sky-500 w-40 text-center text-white px-6 py-2 rounded-full text-sm hover:bg-blue-700
          transition duration-200"
        >
          view Template
        </button>
      </div>
    </div> -->
    
  </body>
</html>
