---

---

<html>
    <head>
        <title>maincontent2 astro</title>
    </head>
    <body>

        <div>
            <h1 class="text-3xl font-bold tt">Testimonials</h1>
            <p class="text-5xl bold black text-center mt-4">
                Hear what others are saying
            </p>

            <div class="display flex content-section1">
                <div class="w-100">
                    <h1 class="text-3xl">Geoffrey</h1>
                    <h6 class="text-lg">
                        Founder of Montagne Noire Web Studio
                    </h6>
                    <p class="mt-2 text-sm text-left">
                        Just spinning my first premium cosmic theme, Galaxy, and
                        super impressed with the DX. The readme, the scripts and
                        the tours :chefskiss: Super good job.
                    </p>
                </div>

                <div class="w-100 content">
                    <h1 class="text-3xl">BowTiedFocus</h1>
                    <h6 class="text-lg">Freelance Web Developer</h6>
                    <p class="mt-2 text-sm text-left">
                        The theme is ridiculously well put together and
                        documented. I learned a ton about Astro engineering by
                        studying it, and I've already used some of the
                        components for my web design clients. Plus, it shaved
                        hours off my dev time so I could focus on writing SEO
                        articles instead of coding something from scratch.
                    </p>
                </div>

                <div class="w-100">
                    <h1 class="text-3xl">David G</h1>
                    <h6 class="text-lg">Web Developer</h6>
                    <p class="mt-2 text-sm text-left">
                        It's the cleanest template standup experience ever! I've
                        never used Astro, but looking at the demo, code, it
                        should be fairly simple pickup on top of my existing
                        React and NextJS experience
                    </p>
                </div>
            </div>

            <div class="display flex content-section2">
                <div class="w-100">
                    <h1 class="text-3xl">Connor D</h1>
                    <h6 class="text-lg">Developer</h6>
                    <p class="mt-2 text-sm text-left">
                        Cosmic Themes offers more than stunning templates built
                        on a rock-solid Astro foundation—it fosters a vibrant
                        community. With value-added perks like Discord and
                        GitHub invites, Cosmic Themes is a no-brainer for anyone
                        launching a new Astro project.
                    </p>
                </div>

                <div class="w-100 content">
                    <h1 class="text-3xl">Aniket P</h1>
                    <h6 class="text-lg">Data Scientist</h6>
                    <p class="mt-2 text-sm text-left">
                        I'm not a front-end dev, but I wanted to rebuild my
                        personal site with Astro. If you're in the same shoes, I
                        can't recommend enough Cosmic Themes. The entire process
                        required exactly one CSS change.
                    </p>
                </div>

                <div class="w-100">
                    <h1 class="text-3xl">Damiano L</h1>
                    <h6 class="text-lg">C++ Developer</h6>
                    <p class="mt-2 text-sm text-left">
                        Cosmic Themes provides some of the best Astro themes out
                        there. They are well designed, easy to customize and,
                        most importantly, the team is very responsive concerning
                        support and feature requests. Using their themes allows
                        you to forget about the design and focus on content
                        creation.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
