---

---

<html>
    <head>
        <title>maincontent1 astro</title>
    </head>
    <body>
        <div class="main-content">
            <h1 class="text-2xl pl-6 pt-8 text-blue-900">Key benefits</h1>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 main-content">
                <div>
                    <h1 class="text-2xl">Internationalization</h1>
                    <p class="text-lg mt-2">
                        Configure your site for single or multiple languages
                        with a simple script. Plus a language switcher
                        component, helpers to translate routes and text, and
                        more.
                    </p>
                </div>

                <div>
                    <h1 class="text-2xl">Keystatic CMS</h1>
                    <p class="text-lg mt-2">
                        Allow non-technical editors to easily manage content
                        with this optional git-based CMS, included with premium
                        templates.
                    </p>
                </div>

                <div>
                    <h1 class="text-2xl">Custom Animations</h1>
                    <p class="text-lg mt-2">
                        Custom scroll-based animations that work with Astro View
                        Transitions. All easily controlled via data attributes.
                    </p>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 main-content">
                <div>
                    <h1 class="text-2xl">SEO Optimized</h1>
                    <p class="text-lg mt-2">
                        Optimized for speed and search engines. Built-in image
                        compression, file minification, and relevant SEO meta
                        tags and schema make your website fast and rank well.
                    </p>
                </div>

                <div>
                    <h1 class="text-2xl">Free Updates</h1>
                    <p class="text-lg mt-2">
                        When you purchase our templates, you'll get free updates
                        for life. All future improvements, bug fixes, and more.
                    </p>
                </div>

                <div>
                    <h1 class="text-2xl">Unlimited Use</h1>
                    <p class="text-lg mt-2">
                        Use our themes on unlimited personal and commercial
                        products. No attribution required.
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
