---

---

<html>
    <head>
        <title>Mainslidar astro</title>
    </head>
    <body>
        <!-- content and button -->
        <div class="slidar flex items-start space-x-6">
            <div
                class="flex flex-col items-center text-center max-w-3xl mx-auto space-y-4 container"
            >
                <p class="first-p">Trusted by hundreds of developers</p>
                <p class="text-4xl font-extrabold text-black dark:text-white">
                    Production-ready website templates to make your life easy
                </p>
                <p class="text-xl text-gray-800 third-p">
                    Premium Astro templates crafted with tons of features that
                    other themes leave out, saving you weeks of development
                    time. I18n capabilities, CMS interface, animations, SEO, and
                    more.
                </p>
            </div>

            <div class="flex justify-center space-x-4 btn">
                <button
                    class="bg-sky-500 w-40 text-center text-white px-6 py-2 rounded-full text-sm hover:bg-blue-700
          transition duration-200"
                >
                    Save All Access
                </button>
                <button
                    class="bg-sky-500 w-40 text-center text-white px-6 py-2 rounded-full text-sm hover:bg-blue-700
          transition duration-200"
                >
                    view Template
                </button>
            </div>
        </div>
    </body>
</html>
