---


---

<html>
  <head>
    <title>Themeheads astro</title>
  </head>
  <body>
    <div class="themehead">
      <h3 class="text-3xl font-bold">Production Ready</h3>
      <h1 class="text-6xl font-bold">Website Templates</h1>
      <p class="text-lg">
        Impress your clients and 10x your productivity with our
        easy-to-customize templates. Choose from themes below, or get All Access
        to existing themes, new themes that release, and all future updates. CMS
        interface, i18n, animations, SEO, and more.
      </p>

      <div class="main-btn">
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">All Themes</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg ">Landing Page</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">Saas</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">Portfolio</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">Small business</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">Documentation</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">Blog</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">Affiliate</button>
        <button  class="bg-sky-500 hover:bg-sky-700 px-4 py-1 rounded-lg">Free</button>
      </div>
    </div>

  </body>
</html>
