---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Mainslidar from "../../components/Mainslidar.astro";
import Card from "../../components/Card.astro";
import Maincontent1 from "../../components/Maincontent1.astro";
import Maincontent2 from "../../components/Maincontent2.astro"
---

<html lang="ar" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <title>موقعي النظيف باستخدام Astro</title>
  </head>
  <body>
    <BaseLayout title="الصفحة الرئيسية">
      <Mainslidar />
      <Card />
      <Maincontent1 />
      <Maincontent2 />
    </BaseLayout>
  </body>
</html>



