---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'; 
import "../styles/global.css";

const { title = "Default Title" } = Astro.props;  
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Header />  
    
    <main>
      <slot />  
    </main>

    <!-- <Footer />   -->
  </body>
</html>
