---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'; 
import Card from '../components/Card.astro'; 
import Maincontent1 from '../components/Maincontent1.astro'; 
import Maincontent2 from '../components/Maincontent2.astro'; 
import Mainslidar from '../components/Mainslidar.astro'; 
import "../styles/global.css";

const { title = "Default Title" } = Astro.props;  
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <Header />  
    <main>
      <Mainslidar/>
      <Card/>
      <Maincontent1/> 
      <Maincontent2/> 
    </main>

    <Footer />  
  </body>
</html>
